name: Terraform Apply
on:
  workflow_dispatch:
    inputs:
      ubuntu_instance_count:
        description: 'Numbers of ubuntu instances'
        required: true
        default: '2'
env:
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    TF_VAR_aws_key_pub: ${{ secrets.TF_VAR_aws_key_pub }}
    TF_VAR_ubuntu_instance_count: ${{ github.event.inputs.ubuntu_instance_count }}

jobs:
    terraform-plapplayan:
        name: Terraform Apply
        runs-on: ubuntu-latest
        defaults:
            run:
                shell: bash
        steps:
            - name: Checkout
              uses: actions/Checkout@v6
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.14.2   
            - name: Terraform Apply
              run: |
                terraform init
                terraform apply -auto-approve