name: Terraform Plan
on:
  workflow_dispatch:
    inputs:
      ubuntu_instance_count:
        description: 'Numbers of ubuntu instances'
        required: true
        default: '2'

      windows_instance_count:
        description: 'Numbers of windows instances'
        required: true
        default: '1'  

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TF_VAR_aws_key_pub: ${{ secrets.TF_VAR_aws_key_pub }}
  TF_VAR_ubuntu_instance_count: ${{ github.event.inputs.ubuntu_instance_count }}
  TF_VAR_windows_instance_count: ${{ github.event.inputs.windows_instance_count }}

jobs:
  terraform-plan:
    name: Terraform Plan
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash      
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.14.2  
    - name: Terraform Plan
      run: |
        terraform init
        terraform validate
        terraform plan
